
body{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    background: #f9f9f9;
}
img{
    border: 0;
    text-align: center;
    vertical-align: middle;

}

p,span{
    margin: 0 auto;
    padding: 0;
}

a{
    text-decoration: none;
    display: block;
}

a.hover{
    border: 0;
}
.direction-left{
    float: left;
}
.direction-right{
    float: right;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
}


ul,li{
    list-style-type: none;
}